#menuForm .messages {
	text-align: left;
}

.menu-header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-header ul li {
	display:inline;
}

.menu-header ul li a img {
	width:30px;
}

#menuInformation {
	background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 3px 12px #888888;
    padding: 10px;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 257px;
}

#fixedMenuInformationContainer {
	height: 450px;
}

#menuInformation #menuMetadata {
	
}

#menuInformation #menuMetadata label {
	font-weight: bold;
}

#menuInformation #menuMetadata span {
	
}

#menuInformation .menuInfoTitle {
	border-bottom: 1px solid #DDDDDD;
}

#menuInformation .menuMetadata {
	border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
    padding-top: 10px;
}

#menuInformation .menuMetadata .title {
	font-size: 114%;
}

#menuInformation .menuMetadata .record {
	
}

#menuInformation .menuMetadata .empty {
	
}

#menuInformation .menuMetadata.disabled {
	opacity: 0.2;
}

#menuInformation .menuMetadata.loading {
	
}

#menuInformation .menuMetadata .pager {
	text-align: center;
}

#menuInformation .menuMetadata .pager input {
	width: 100px;
	border: none;
	background: none;
	text-align: center;
}

#menuInformation .menuMetadata .pager .prev {
	cursor:pointer;
}

#menuInformation .menuMetadata .pager .prev.disabled {
	cursor:default;
	opacity: 0.5;
}

#menuInformation .menuMetadata .pager .next {
	cursor:pointer;
}

#menuInformation .menuMetadata .pager .next.disabled {
	cursor:default;
	opacity: 0.5;
}

#menuForm {
    display:none;
    overflow:hidden;
    position: absolute;
}

#menuForm table tr th,
#menuForm table tr td {
    padding-bottom: 15px;
}

#menuForm table tbody tr td:first-child {
    padding-right: 10px;
}